/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.related-pages {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid rgba(46, 133, 85, 100);
  color: rgba(46, 133, 85, 100);;

}

.related-pages .pages {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 200px);
}

.related-pages .page {
  display: block;
  margin: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #2e8555;
  color: white;
  border-radius: 5px;
  padding: 1em;
}

.related-pages .title {
  font-size: 2rem;
}






.get-started {
  display: flex;
  flex-direction: row;
}

.get-started .role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
  border: 1px solid #aaaa;

  border-radius: 5px;
}
.get-started .role:not(:last-child) {
  margin-right: 10px;
}

.get-started span {
  display: block;
  justify-content: center;
  text-align: center;
}

.get-started img {
  width: 30%;
  margin-bottom: 1em;
}


.get-started-section {
  border-radius: 5px;
  margin-top: 2em;
  border: 1px solid #aaaa;
}

.get-started-section-title {
  display: flex;
  padding: 1em;
  align-items: center;
}

.get-started-section-title  h3 {
  margin: 0;
  font-size: 2rem;
}

.get-started-section-body {
  padding: 1em;
}

.get-started-section img {
  width: 50px;
  margin-right: 10px;
}

.get-started-section-title span {
  font-weight: bolder;

}



.button-groups {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.button-groups a {
  flex: 1;
  background-color: #2e8555;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;   /* Inclut le padding dans la taille */
}

@media (max-width: 767px) {
  .button-groups, .get-started {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .get-started .role:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 5px;
  }

}








.code-block-deleted-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.code-block-added-line {
  background-color: rgba(0, 255, 72, 0.13);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid rgba(0, 255, 13, 0.5);
}

.coming-soon {
  display: flex;
  background-color: #2e8555;
  color: white;
  padding: 5px;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 30%;
  min-width: 200px;
}
.coming-soon:after {
  content: "Coming Soon!";
}
.margin-top--md {
}

.download-button {
  display: flex;
  padding: 15px;
  border: 1px solid #1a8870;
  border-radius: 5px;
  background-color: #1a8870;
  color: white;
  max-width: 30%;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}


.download-button:hover {
  border: 1px solid #1a8870;
  color: #1a8870;
  background-color: white;
}


.download-button p {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.download-button:hover p {
  text-decoration: none;
}


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
